
.my-menu {
    padding: 50px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color:#BCBCC9;
}

.list li {
    margin: 50px;
    display: inline;   
}

.bt {
    padding: 20px;
}
