
.todo-list-item {
    display: flex;
    align-items: center;
}

.todo-list-item-label {
    cursor: pointer; 
    width: 80%;
}

.fa-check {
    font-size: 40px;
    color: #75BA75;
    opacity: 0;  
}

.fa-check:hover {
    font-size: 40px;
    color: #75BA75;
    opacity: 1;  
}

.fa-close {
    font-size: 40px;
    color:#FF7F7F;
    opacity: 0;
}

.fa-close:hover {
    font-size: 40px;
    color:#FF7F7F;
    opacity: 1;
}

.todo-list-item.done {
    text-decoration: line-through;
    color: red;
    font-size: 25px;
};
 
