
.todo-list-item {
    display: flex;
    align-items: center;
}

.todo-list-item-label {
    cursor: pointer; 
    width: 80%;
}

.fa-check {
    font-size: 40px;
    color: #BADCBA;  
}

.fa-close {
    font-size: 40px;
    color: #FFBFBF;
}

.todo-list-item.done {
    text-decoration: line-through;
    color: red;
    font-size: 25px;
};
 
